* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
    align-items: center;
    justify-content: space-around;
    display: flex;
    background-color: grey;
    padding: 10px;
}
header ul {
  display: flex;
  justify-content: center;
  gap: 1pc;
  list-style: none;
  font-size: 20px;  
}
